/*
 * Name：banner.css
 * Author：YOKO
 * Date: 2017-11-07
 */
@charset "UTF-8";
.banner-container {
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}
.banner-view {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}
.banner-view li {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.banner-view li.active {
	display: block;
}
.banner-view li a {
	display: block;
	width: 100%;
	height: 100%;
}
.banner-view li a img {
	display: block;
	width: 100%;
	height: 100%;
}
.banner-btn {
	position: absolute;
	width: 100%;
	height: 0;
	top: 50%;
	margin-top: -25px;
	font-family: "宋体";
	font-size: 20px;
	z-index: 1000;
}
.banner-btn span{
	display: block;
	float: left;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	color: #74dcff;
	cursor: pointer;
	font-weight: 800;
	background-image: 
}
.banner-btn span:hover {
	background-color: rgba(0,0,0,0.6);
}
.banner-btn span + span {
	float: right;
}
.banner-number {
	position: absolute;
	bottom: 35px;
	width: 100%;
	height: 0;
	font-size: 0;
	text-align: center;
	z-index: 1000;
}
.banner-number > * {
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 8px;
	width: 10px;
	height: 10px;
	background-color: #00c3ff;
	cursor: pointer;
}
.banner-number > *:hover,
.banner-number > *.on {
	background-color: #ffc300;
}